main {
    margin-top: 50px;
    position: relative;
}

.presentacion {
    width: 100%;
    height: 188px;
    background-image: url("Media/jonMobile.png");
    background-position: -1px -12px;
    background-size: cover;
    position: relative;
}

.presentacion>.capa {
    width: 100%;
    height: 100%;
    background: rgba(250, 250, 250, 0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(32, 32, 32, 1);
    justify-content: space-evenly;
}

.presentacion>.capa>h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
    line-height: 14.88px;
    font-weight: bolder;
}

.presentacion>.capa>p {
    font-size: 6px;
    font-weight: bolder;
    text-align: center;
    line-height: 7.31px;
    margin-bottom: 20px;
}

.la-mano {
    width: 100%;
    height: 760px;
    background-color: rgba(0, 2, 38, 1);
    display: flex;
    flex-direction: column;
}

.la-mano>h2 {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    font-family: 'EB Garamond', serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.la-mano>p {
    width: 100%;
    height: 50px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cartas {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
}

.cardBox {
    float: left;
    margin: 9px;
    transition: all 0.3s ease 0s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    perspective: 800px;

}

.cardBox:hover .card {
    transform: rotateY(180deg);
}

.card {
    cursor: default;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
    height: 190px;
    width: 120px;
}

.front {
    background: rgba(30, 144, 255, 1);
}

.back {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
}

.front,
.back {
    backface-visibility: hidden;
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.front h3 {
    font-family: Cabin;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
}

.back p {
    font-family: Cabin;
    font-size: 8px;
    font-weight: 600;
    line-height: 11px;
    text-align: left;
}

@keyframes giro {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

@-webkit-keyframes giro {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

.influencias {
    width: 100%;
    height: 350px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.597) 1%, rgb(74, 81, 217) 6%, rgb(74, 81, 217) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.influencia {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
}

.influencias .influencia>h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 8px;
    font-weight: 600;
}

.influencias .influencia p {
    font-size: 6px;
    font-weight: bolder;
}

.contenedor-cinco {
    width: 240px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#seis p {
    height: 60px;
}

@media (min-width: 360px) {

    .presentacion {
        height: 202px;
        background-position: -1px -12px;
    }

    .presentacion>.capa>h1 {
        font-size: 13px;
        line-height: 14.88px;
    }

    .presentacion>.capa>p {
        font-size: 8px;
        line-height: 8px;
        margin-bottom: 30px;
    }

    .la-mano {
        height: 760px;
        padding-bottom: 20px;
    }

    .la-mano>h2 {
        height: 50px;
        font-size: 15px;
    }

    .la-mano>p {
        height: 50px;
        font-size: 9px;
    }

    .cardBox {
        margin: 9px;
        perspective: 800px;
    }

    .card {
        height: 190px;
        width: 120px;
    }

    .front,
    .back {
        font-size: 7px;
        height: 100%;
        padding: 15px;
        border-radius: 5px;
    }

    .front h3 {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }

    .back p {
        font-size: 8px;
        font-weight: 600;
        line-height: 11px;
    }

    .influencias {
        height: 350px;
    }

    .influencia {
        height: 50px;
        margin: 20px;
    }

    .influencias .influencia>h2 {
        font-size: 12px;
        font-weight: 600;
    }

    .influencias .influencia p {
        font-size: 9px;
    }

    .contenedor-cinco {
        width: 280px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    #seis p {
        height: 60px;
    }
}

@media (min-width: 410px) {

    .presentacion {
        height: 225px;
        background-position: -1px -12px;
    }

    .presentacion>.capa>h1 {
        font-size: 14px;
        line-height: 14.88px;
    }

    .presentacion>.capa>p {
        font-size: 9px;
        line-height: 10px;
        margin-bottom: 30px;
    }

    .la-mano {
        height: 760px;
        padding-bottom: 25px;
    }

    .la-mano>h2 {
        height: 50px;
        font-size: 15px;
    }

    .la-mano>p {
        height: 50px;
        font-size: 9px;
    }

    .cardBox {
        margin: 11px;
        perspective: 800px;
    }

    .card {
        height: 210px;
        width: 140px;
    }

    .front,
    .back {
        font-size: 7px;
        height: 100%;
        padding: 15px;
        border-radius: 5px;
    }

    .front h3 {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
    }

    .back p {
        font-size: 8px;
        font-weight: 600;
        line-height: 11px;
    }

    .influencias {
        height: 350px;
    }

    .influencia {
        height: 50px;
        margin: 20px;
    }

    .influencias .influencia>h2 {
        font-size: 12px;
        font-weight: 600;
    }

    .influencias .influencia p {
        font-size: 9px;
    }

    .contenedor-cinco {
        width: 280px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    #seis p {
        height: 60px;
    }
}

@media (min-width: 460px) {

    .presentacion {
        height: 270px;
        background-position: -1px -12px;
    }

    .presentacion>.capa>h1 {
        font-size: 17px;
        line-height: 14.88px;
    }

    .presentacion>.capa>p {
        font-size: 11px;
        line-height: 12px;
        margin-bottom: 30px;
    }

    .la-mano {
        height: 950px;
        padding-bottom: 30px;
    }

    .la-mano>h2 {
        height: 50px;
        font-size: 19px;
    }

    .la-mano>p {
        height: 50px;
        font-size: 11px;
    }

    .cardBox {
        margin: 15px;
        perspective: 800px;
    }

    .card {
        height: 250px;
        width: 160px;
    }

    .front,
    .back {
        padding: 15px;
        border-radius: 5px;
    }

    .front h3 {
        font-size: 13px;
        line-height: 16px;
    }

    .back p {
        font-size: 11px;
        line-height: 14px;
    }

    .influencias {
        height: 350px;
    }

    .influencia {
        height: 50px;
        margin: 20px;
    }

    .influencias .influencia>h2 {
        font-size: 14px;
        font-weight: 600;
    }

    .influencias .influencia p {
        font-size: 11px;
    }

    .contenedor-cinco {
        width: 360px;
        height: 200px;
        margin-bottom: 20px;
    }

    #seis p {
        height: 60px;
    }
}

@media (min-width: 800px) {

    .presentacion {
        height: 520px;
        background-position: -1px -12px;
    }

    .presentacion>.capa>h1 {
        font-size: 30px;
        line-height: 32px;
    }

    .presentacion>.capa>p {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 83px;
    }

    .la-mano {
        height: 1620px;
        padding-bottom: 60px;
    }

    .la-mano>h2 {
        height: 190px;
        font-size: 41px;
    }

    .la-mano>p {
        height: 184px;
        font-size: 21px;
        line-height: 21px;
    }

    .cardBox {
        margin: 45px;
        perspective: 800px;
    }

    .card {
        height: 377px;
        width: 228px;
    }

    .front,
    .back {
        padding: 25px;
        border-radius: 10px;
    }

    .front h3 {
        font-size: 20px;
        line-height: 20px;
    }

    .back p {
        font-size: 15px;
        line-height: 17px;
    }

    .influencias {
        height: 820px;
    }

    .influencia {
        height: 200px;
        margin: 24px;
    }

    .influencias .influencia>h2 {
        font-size: 40px;
    }

    .influencias .influencia p {
        font-size: 25px;
        line-height: 25px;
    }

    .contenedor-cinco {
        width: 663px;
        height: 542px;
        margin-bottom: 40px;
    }

    #seis p {
        height: 100px;
    }
}



@media (min-width: 1180px) {

    .presentacion {
        width: 1178px;
        height: 745px;
        margin: 0 auto;
        background-position: -1px -12px;
    }

    .presentacion>.capa>h1 {
        font-size: 48px;
        line-height: 50px;
    }

    .presentacion>.capa>p {
        font-size: 32px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    .la-mano {
        width: 1178px;
        height: 1500px;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .la-mano>h2 {
        height: 150px;
        font-size: 47px;
    }

    .la-mano>p {
        height: 200px;
        font-size: 25px;
    }

    .cardBox {
        margin: 35px;
        perspective: 800px;
    }

    .card {
        width: 303px;
        height: 479px;
    }

    .front,
    .back {
        padding: 35px;
        border-radius: 5px;
    }

    .front h3 {
        font-size: 32px;
        line-height: 35px;
    }

    .back p {
        font-size: 20px;
        line-height: 24px;
    }

    .influencias {
        height: 1100px;
    }

    .influencia {
        height: 50px;
        margin: 190px;
        margin-bottom: 50px;

    }

    .influencias .influencia>h2 {
        font-size: 40px;
        margin-bottom: 20px;

    }

    .influencias .influencia p {
        font-size: 30px;
    }

    .contenedor-cinco {
        width: 938.45px;
        height: 800px;
        margin-bottom: 10px;
    }

    #seis p {
        height: 190px;
    }
}