main {
    position: relative;
}

.cuanto-cuesta {
    width: 100%;
    height: 252px;
    margin-top: 50px;
    background-image: url("Media/portadaGranLienzoMobile.png");
    box-shadow: 10px 10px 5px 700px #0002266d inset;
    background-position: center;
    background-size: cover;
}

.capa-cuanto {
    background: linear-gradient(358.06deg, #000226 11.45%, rgba(0, 1, 26, 0.933) 18.38%, rgba(0, 0, 0, 0.237) 39.19%);
    height: 280px;
}

.capa-cuanto>div {
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.capa-cuanto>div h1 {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    margin: 15px;
}

.capa-cuanto>div p {
    font-size: 7px;
    text-align: center;
}

.capa-cuanto .button {
    width: 61px;
    font-size: 8px;
}

.libro-descripcion {
    width: 100%;
    height: 170px;
    background-color: #000226;
    display: flex;
    align-content: center;
}

.libro-descripcion>div {
    width: 100%;
    font-size: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imp-libro {
    width: 77px;
    height: 126px;
}

.semanas {
    width: 100%;
    background: linear-gradient(0deg, #00023100 30%, rgba(0, 0, 41, 0.867) 60%, rgb(0, 0, 41) 70%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
}

.semanas>h2 {
    font-weight: lighter;
    font-size: 7px;
    text-align: center;
}

.lo-incuestionable {
    width: 100%;
    height: 186px;
    background-image: url("Media/fondoResumenCuentos.png");
    background-position: center;
    background-size: cover;
    background-position: 0px 3px;
    box-shadow: 10px 10px 5px 184px #000226a1 inset;
}

.lo-incuestionable>.capa {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider {
    width: 100%;
    max-width: 800px;
    height: 100%;
    position: relative;
}

.lo-incuestionable>.capa>.slider .slide {
    height: 130px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
    width: 100%; 
    max-width: 800px;
    position: absolute;
    transition: all 0.5s;
}

.slide h3{
    font-family: 'EB Garamond', serif;
    font-size: 10px;
    margin-top: 12px;
}

.slide p {
    font-size: 7px;
    text-align: center;
    margin-bottom: 10px;
}

.btn {
    position: absolute;
    cursor: pointer;
    
    font-size: 18px;
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 15px;
}

.btn-next {
    top: 45%;
    right: 15px;
}

.slide .button {
    width: 67px;
    height: 15px;
    font-size: 7px;
}

.conoce-mas {
    position: relative;
    width: 100%;
    height: 134px;
    background-image: url("Media/mundoMobile.png");
    background-position: -2px -36px;
    background-size: cover;
}

.conoce-mas>.capa {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 1%, rgba(209, 209, 209, 0.5) 10%, rgba(196, 196, 196, 0.5) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(32, 32, 32, 1);
    justify-content: center;
    text-align: center;

}

.conoce-mas>.capa>h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
}

.conoce-mas>.capa>p {
    font-size: 7.4px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 4px;
    line-height: 7.31px;
}

.conoce-mas>.capa>.button {
    width: 109px;
    height: 15px;
    font-size: 6px;
}
