main {
    position: relative;
}

.cuanto-cuesta {
    width: 100%;
    height: 252px;
    background-image: url("Media/portadaGranLienzoMobile.png");
    box-shadow: 10px 10px 5px 700px #0002266d inset;
    background-position: center;
    background-size: cover;
}

.capa-cuanto {
    background: linear-gradient(358.06deg, #000226 11.45%, rgba(0, 1, 26, 0.933) 18.38%, rgba(0, 0, 0, 0.237) 39.19%);
    height: 280px;
}

.capa-cuanto>div {
    width: 100%;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.capa-cuanto>div h1 {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    margin: 15px;
}

.capa-cuanto>div p {
    font-size: 7px;
    text-align: center;
}

.capa-cuanto .button {
    width: 61px;
    font-size: 8px;
}

.libro-descripcion {
    width: 100%;
    height: 170px;
    background-color: #000226;
    display: flex;
    align-content: center;
}

.libro-descripcion>div {
    width: 100%;
    font-size: 7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imp-libro {
    width: 77px;
    height: 126px;
}

.semanas {
    width: 100%;
    background: linear-gradient(0deg, #00023100 30%, rgba(0, 0, 41, 0.867) 60%, rgb(0, 0, 41) 70%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
}

.semanas>h2 {
    font-weight: lighter;
    font-size: 7px;
    text-align: center;
}

.lo-incuestionable {
    width: 100%;
    height: 186px;
    background-image: url("Media/fondoResumenCuentos.png");
    background-position: center;
    background-size: cover;
    background-position: 0px 3px;
    box-shadow: 10px 10px 5px 184px #000226a1 inset;
}

.lo-incuestionable>.capa {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lo-incuestionable>.capa>div {
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
}

.lo-incuestionable>.capa>i {
    margin: 13px;
    font-size: 18px;
}

.lo-incuestionable>.capa>div h3 {
    font-family: 'EB Garamond', serif;
    font-size: 10px;
    margin-top: 12px;
}

.lo-incuestionable>.capa>div p {
    font-size: 7px;
    text-align: center;
    margin-bottom: 10px;
}

.lo-incuestionable>.capa .button {
    width: 67px;
    height: 15px;
    font-size: 7px;
}

.conoce-mas {
    position: relative;
    width: 100%;
    height: 134px;
    background-image: url("Media/mundoMobile.png");
    background-position: -2px -36px;
    background-size: cover;
}

.conoce-mas>.capa {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 1%, rgba(209, 209, 209, 0.5) 10%, rgba(196, 196, 196, 0.5) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(32, 32, 32, 1);
    justify-content: center;
    text-align: center;

}

.conoce-mas>.capa>h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
}

.conoce-mas>.capa>p {
    font-size: 7.4px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 4px;
    line-height: 7.31px;
}

.conoce-mas>.capa>.button {
    width: 109px;
    height: 15px;
    font-size: 6px;
}

@media (min-width: 360px) {
    .cuanto-cuesta {
        height: 280px;
    }

    .capa-cuanto {
        height: 308px;
    }

    .capa-cuanto>div {
        height: 207px;
    }

    .capa-cuanto>div h1 {
        font-size: 22.3px;
        margin: 40px;
    }

    .capa-cuanto>div p {
        font-size: 7.5px;
    }

    .capa-cuanto .button {
        width: 67px;
        font-size: 10.3px;
        margin-top: 15px;
    }

    .libro-descripcion {
        height: 175px;
        line-height: 10px;
    }

    .libro-descripcion>div {
        font-size: 7.5px;
        margin-bottom: 25px;
    }

    .imp-libro {
        width: 85px;
        height: 145px;
        margin-left: 14px;
        margin-right: 14px;
    }

    .semanas>h2 {
        font-size: 7.5px;
        margin-right: 10px;
    }

    .lo-incuestionable {
        height: 203px;
    }

    .lo-incuestionable>.capa>div {
        height: 150px;
        margin-right: 8px;
    }

    .lo-incuestionable>.capa>i {
        margin: 14px;
        font-size: 20px;
    }

    .lo-incuestionable>.capa>div h3 {
        font-size: 11.3px;
        margin-top: 18px;
    }

    .lo-incuestionable>.capa>div p {
        font-size: 7.5px;
        margin-top: 22px;
    }

    .lo-incuestionable>.capa .button {
        width: 73px;
        height: 17px;
        font-size: 8px;
        margin-top: 23px;
        margin-right: 5px;
    }

    .conoce-mas {
        height: 145px;
    }

    .conoce-mas>.capa>h2 {
        font-size: 13px;
    }

    .conoce-mas>.capa>p {
        font-size: 7.9px;
        margin-bottom: 20px;
        margin-top: 5px;
        line-height: 8px;
    }

    .conoce-mas>.capa>.button {
        width: 116px;
        font-size: 7px;
    }
}

@media (min-width: 410px) {
    .cuanto-cuesta {
        height: 320px;
    }

    .capa-cuanto {
        height: 355px;
    }

    .capa-cuanto>div {
        height: 240px;
    }

    .capa-cuanto>div h1 {
        font-size: 25.6px;
        margin: 38px;
    }

    .capa-cuanto>div p {
        font-size: 8.8px;
    }

    .capa-cuanto .button {
        width: 78px;
        font-size: 12px;
        margin-top: 15px;
    }

    .libro-descripcion {
        height: 195px;
        line-height: 11px;
    }

    .libro-descripcion>div {
        font-size: 8.7px;
        margin-bottom: 25px;
    }

    .imp-libro {
        width: 95px;
        height: 155px;
        margin-left: 14px;
        margin-right: 15px;
    }

    .semanas>h2 {
        font-size: 8.55px;
        margin-right: 10px;
    }

    .lo-incuestionable {
        height: 235px;
    }

    .lo-incuestionable>.capa>div {
        height: 170px;
        margin-right: 8px;
    }

    .lo-incuestionable>.capa>i {
        margin: 15px;
        font-size: 22px;
    }

    .lo-incuestionable>.capa>div h3 {
        font-size: 13px;
        margin-top: 18px;
    }

    .lo-incuestionable>.capa>div p {
        font-size: 8.8px;
        margin-top: 22px;
        line-height: 11px;
    }

    .lo-incuestionable>.capa .button {
        width: 82px;
        height: 20px;
        font-size: 8.8px;
        margin-top: 23px;
        margin-right: 5px;
    }

    .conoce-mas {
        height: 165px;
    }

    .conoce-mas>.capa>h2 {
        font-size: 15.2px;
    }

    .conoce-mas>.capa>p {
        font-size: 9.4px;
        margin-bottom: 20px;
        margin-top: 6px;
        line-height: 9px;
    }

    .conoce-mas>.capa>.button {
        width: 135px;
        height: 18.5px;
        font-size: 9px;
    }
}

@media (min-width: 460px) {
    .cuanto-cuesta {
        height: 360px;
    }

    .capa-cuanto {
        height: 395px;
    }

    .capa-cuanto>div {
        height: 274px;
    }

    .capa-cuanto>div h1 {
        font-size: 29px;
        margin: 40px;
    }

    .capa-cuanto>div p {
        font-size: 9.8px;
    }

    .capa-cuanto .button {
        width: 85px;
        font-size: 14px;
        margin-top: 18px;
    }

    .libro-descripcion {
        height: 220px;
        line-height: 12px;
    }

    .libro-descripcion>div {
        font-size: 9.8px;
        margin-bottom: 35px;
    }

    .imp-libro {
        width: 105px;
        height: 170px;
        margin-left: 17px;
        margin-right: 14px;
    }

    .semanas>h2 {
        font-size: 9.6px;
        margin-right: 10px;
    }

    .lo-incuestionable {
        height: 265px;
    }

    .lo-incuestionable>.capa>div {
        height: 190px;
        margin-right: 8px;
    }

    .lo-incuestionable>.capa>i {
        margin: 18px;
        font-size: 24px;
    }

    .lo-incuestionable>.capa>div h3 {
        font-size: 14.5px;
        margin-top: 18px;
    }

    .lo-incuestionable>.capa>div p {
        font-size: 10px;
        margin-top: 22px;
        line-height: 11px;
    }

    .lo-incuestionable>.capa .button {
        width: 95px;
        height: 21px;
        font-size: 9.8px;
        margin-top: 25px;
        margin-right: 5px;
    }

    .conoce-mas {
        height: 185px;
    }

    .conoce-mas>.capa>h2 {
        font-size: 17.2px;
    }

    .conoce-mas>.capa>p {
        font-size: 10.4px;
        margin-bottom: 20px;
        margin-top: 8px;
        line-height: 10.5px;
    }

    .conoce-mas>.capa>.button {
        width: 150px;
        height: 20px;
        font-size: 10px;
    }
}

@media (min-width: 510px) {
    .cuanto-cuesta {
        height: 400px;
    }

    .capa-cuanto {
        height: 440px;
    }

    .capa-cuanto>div {
        height: 305px;
    }

    .capa-cuanto>div h1 {
        font-size: 32.3px;
        margin: 44px;
    }

    .capa-cuanto>div p {
        font-size: 10.8px;
    }

    .capa-cuanto .button {
        width: 95px;
        font-size: 16px;
        margin-top: 18px;
    }

    .libro-descripcion {
        height: 255px;
        line-height: 14px;
    }

    .libro-descripcion>div {
        font-size: 11px;
        margin-bottom: 35px;
    }

    .imp-libro {
        width: 115px;
        height: 195px;
        margin-left: 15px;
        margin-right: 17px;
    }

    .semanas>h2 {
        font-size: 10.8px;
        margin-right: 12px;
    }

    .lo-incuestionable {
        height: 295px;
    }

    .lo-incuestionable>.capa>div {
        height: 205px;
        margin-right: 9px;
    }

    .lo-incuestionable>.capa>i {
        margin: 20px;
        font-size: 26px;
    }

    .lo-incuestionable>.capa>div h3 {
        font-size: 14.5px;
        margin-top: 16px;
    }

    .lo-incuestionable>.capa>div p {
        font-size: 11.4px;
        margin-top: 22px;
        line-height: 14px;
    }

    .lo-incuestionable>.capa .button {
        width: 105px;
        height: 24px;
        font-size: 10.9px;
        margin-top: 25px;
        margin-right: 5px;
    }

    .conoce-mas {
        height: 205px;
    }

    .conoce-mas>.capa>h2 {
        font-size: 19px;
    }

    .conoce-mas>.capa>p {
        font-size: 11.4px;
        margin-bottom: 25px;
        margin-top: 8px;
        line-height: 13.5px;
    }

    .conoce-mas>.capa>.button {
        width: 168px;
        height: 24px;
        font-size: 11px;
    }
}

@media (min-width: 560px) {
    .cuanto-cuesta {
        height: 440px;
    }

    .capa-cuanto {
        height: 480px;
    }

    .capa-cuanto>div {
        height: 345px;
    }

    .capa-cuanto>div h1 {
        font-size: 35.3px;
        margin: 40px;
    }

    .capa-cuanto>div p {
        font-size: 11.8px;
        line-height: 15px;
    }

    .capa-cuanto .button {
        width: 105px;
        font-size: 17px;
        margin-top: 1px;
    }

    .libro-descripcion {
        height: 275px;
        line-height: 15px;
    }

    .libro-descripcion>div {
        font-size: 12px;
        margin-bottom: 35px;
    }

    .imp-libro {
        width: 128px;
        height: 215px;
        margin-left: 18px;
        margin-right: 19px;
    }

    .semanas>h2 {
        font-size: 11.9px;
        margin-right: 15px;
    }

    .lo-incuestionable {
        height: 325px;
    }

    .lo-incuestionable>.capa>div {
        height: 225px;
        margin-right: 10px;
    }

    .lo-incuestionable>.capa>i {
        margin: 23px;
        font-size: 29px;
    }

    .lo-incuestionable>.capa>div h3 {
        font-size: 17.9px;
        margin-top: 16px;
    }

    .lo-incuestionable>.capa>div p {
        font-size: 12.1px;
        margin-top: 22px;
        line-height: 14px;
    }

    .lo-incuestionable>.capa .button {
        width: 115px;
        height: 25px;
        font-size: 12px;
        margin-top: 25px;
        margin-right: 5px;
    }

    .conoce-mas {
        height: 230px;
    }

    .conoce-mas>.capa>h2 {
        font-size: 20.8px;
    }

    .conoce-mas>.capa>p {
        font-size: 12.4px;
        margin-bottom: 25px;
        margin-top: 8px;
        line-height: 14.5px;
    }

    .conoce-mas>.capa>.button {
        width: 185px;
        height: 25px;
        font-size: 12px;
    }
}

@media (min-width: 610px) {
    .cuanto-cuesta {
        height: 485px;
    }

    .capa-cuanto {
        height: 510px;
    }

    .capa-cuanto>div {
        height: 380px;
    }

    .capa-cuanto>div h1 {
        font-size: 39px;
        margin: 42px;
    }

    .capa-cuanto>div p {
        font-size: 13px;
        line-height: 17px;
    }

    .capa-cuanto .button {
        width: 110px;
        font-size: 19px;
        margin-top: 1px;
    }

    .libro-descripcion {
        height: 290px;
        line-height: 17px;
    }

    .libro-descripcion>div {
        font-size: 13.2px;
        margin-bottom: 45px;
    }

    .imp-libro {
        width: 143px;
        height: 240px;
        margin-left: 17px;
        margin-right: 23px;
    }

    .semanas>h2 {
        font-size: 13.3px;
        margin-right: 17px;
    }

    .lo-incuestionable {
        height: 350px;
    }

    .lo-incuestionable>.capa>div {
        height: 245px;
        margin-right: 10px;
    }

    .lo-incuestionable>.capa>i {
        margin: 23px;
        font-size: 29px;
    }

    .lo-incuestionable>.capa>div h3 {
        font-size: 19px;
        margin-top: 24px;
    }

    .lo-incuestionable>.capa>div p {
        font-size: 13.3px;
        margin-top: 24px;
        line-height: 14px;
    }

    .lo-incuestionable>.capa .button {
        width: 125px;
        height: 27px;
        font-size: 13px;
        margin-top: 32px;
        margin-right: 8px;
    }

    .conoce-mas {
        height: 248px;
    }

    .conoce-mas>.capa>h2 {
        font-size: 22.8px;
    }

    .conoce-mas>.capa>p {
        font-size: 13.4px;
        margin-bottom: 25px;
        margin-top: 10px;
        line-height: 15.5px;
    }

    .conoce-mas>.capa>.button {
        width: 200px;
        height: 27px;
        font-size: 13px;
    }
}

@media (min-width: 660px) {
    .cuanto-cuesta {
        height: 520px;
    }

    .capa-cuanto {
        height: 570px;
    }

    .capa-cuanto>div {
        height: 410px;
    }

    .capa-cuanto>div h1 {
        font-size: 43px;
        margin: 42px;
    }

    .capa-cuanto>div p {
        font-size: 14.4px;
        line-height: 17px;
    }

    .capa-cuanto .button {
        width: 125px;
        font-size: 20px;
        margin-top: 2px;
    }

    .libro-descripcion {
        height: 320px;
        line-height: 18px;
    }

    .libro-descripcion>div {
        font-size: 14.4px;
        margin-bottom: 55px;
    }

    .imp-libro {
        width: 153px;
        height: 240px;
        margin-left: 20px;
        margin-right: 25px;
    }

    .semanas>h2 {
        font-size: 14.3px;
        margin-right: 19px;
    }

    .lo-incuestionable {
        height: 379px;
        box-shadow: 10px 10px 30px 200px #000226a1 inset;
    }

    .lo-incuestionable>.capa>div {
        height: 265px;
        margin-right: 10px;
    }

    .lo-incuestionable>.capa>i {
        margin: 25px;
        font-size: 31px;
    }

    .lo-incuestionable>.capa>div h3 {
        font-size: 21px;
        margin-top: 20px;
    }

    .lo-incuestionable>.capa>div p {
        font-size: 14.3px;
        margin-top: 28px;
        line-height: 16px;
    }

    .lo-incuestionable>.capa .button {
        width: 135px;
        height: 30px;
        font-size: 14.5px;
        margin-top: 35px;
        margin-right: 8px;
    }

    .conoce-mas {
        height: 270px;
    }

    .conoce-mas>.capa>h2 {
        font-size: 24.8px;
    }

    .conoce-mas>.capa>p {
        font-size: 15px;
        margin-bottom: 25px;
        margin-top: 11px;
        line-height: 17.5px;
    }

    .conoce-mas>.capa>.button {
        width: 220px;
        height: 30px;
        font-size: 14.5px;
    }
}

@media (min-width: 1200px) {
    .cuanto-cuesta {
        height: 520px;
    }

    .capa-cuanto {
        height: 570px;
    }

    .capa-cuanto>div {
        height: 410px;
    }

    .capa-cuanto>div h1 {
        font-size: 43px;
        margin: 42px;
    }

    .capa-cuanto>div p {
        font-size: 14.4px;
        line-height: 17px;
    }

    .capa-cuanto .button {
        width: 125px;
        font-size: 20px;
        margin-top: 2px;
    }

    .libro-descripcion {
        height: 320px;
        line-height: 18px;
    }

    .libro-descripcion>div {
        font-size: 14.4px;
        margin-bottom: 55px;
    }

    .imp-libro {
        width: 153px;
        height: 240px;
        margin-left: 20px;
        margin-right: 25px;
    }

    .semanas>h2 {
        font-size: 14.3px;
        margin-right: 19px;
    }

    .lo-incuestionable {
        height: 379px;
        box-shadow: 10px 10px 30px 200px #000226a1 inset;
    }

    .lo-incuestionable>.capa>div {
        height: 265px;
        margin-right: 10px;
    }

    .lo-incuestionable>.capa>i {
        margin: 25px;
        font-size: 31px;
    }

    .lo-incuestionable>.capa>div h3 {
        font-size: 21px;
        margin-top: 20px;
    }

    .lo-incuestionable>.capa>div p {
        font-size: 14.3px;
        margin-top: 28px;
        line-height: 16px;
    }

    .lo-incuestionable>.capa .button {
        width: 135px;
        height: 30px;
        font-size: 14.5px;
        margin-top: 35px;
        margin-right: 8px;
    }

    .conoce-mas {
        height: 270px;
    }

    .conoce-mas>.capa>h2 {
        font-size: 24.8px;
    }

    .conoce-mas>.capa>p {
        font-size: 15px;
        margin-bottom: 25px;
        margin-top: 11px;
        line-height: 17.5px;
    }

    .conoce-mas>.capa>.button {
        width: 220px;
        height: 30px;
        font-size: 14.5px;
    }
}