* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #202020;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: white;
}

h1 {
    font-weight: 500;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoHorizontal {
    width: 123px;
    height: 25px;
    margin-left: 10px;
}

nav>i {
    margin-right: 10px;
    font-size: 20px;
}

.text-shadow {
    text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 1px;
}


.button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(30, 144, 255, 1);
    border-radius: 2px;
    border: 0px;
    height: 22px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Cabin', sans-serif;
}

footer {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    justify-content: space-evenly;
    margin-top: 2px;
    margin-bottom: 15px;
}

.logoVertical {
    width: 75px;
    height: 33px;
    margin-bottom: 5px;
}

footer>a {
    font-size: 8px;
    color: rgba(136, 136, 136, 1);
    text-decoration: none;
}

@media (min-width: 360px){
    header {
        height: 55px;  
    }

    .logoHorizontal {
        width: 130px;
        height: 25px;
        margin-left: 15px;
    }
    
    nav>i {
        margin-right: 15px;
        font-size: 22px;
    }


    footer {
        height: 220px;
       
    }
    
    .logoVertical {
        width: 95px;
        height: 45px;
        margin-bottom: 10px;
    }
    
    footer>a {
        font-size: 10px;
    }

    .button {
        height: 30px;
        border-radius: 3px;
    }
}

@media (min-width: 410px){
    header {
        height: 65px;  
    }

    .logoHorizontal {
        width: 150px;
        height: 28px;
        margin-left: 15px;
    }
    
    nav>i {
        margin-right: 15px;
        font-size: 25px;
    }

    footer {
        height: 250px;
    }
    
    .logoVertical {
        width: 100px;
        height: 50px;
        margin-bottom: 10px;
    }
    
    footer>a {
        font-size: 11px;
    }

    .button {
        height: 30px;
        border-radius: 3px;
    }
}

@media (min-width: 460px){
    header {
        height: 75px;  
    }

    .logoHorizontal {
        width: 165px;
        height: 35px;
        margin-left: 15px;
    }
    
    nav>i {
        margin-right: 15px;
        font-size: 28px;
    }

    footer {
        height: 270px;
    }
    
    .logoVertical {
        width: 115px;
        height: 55px;
        margin-bottom: 10px;
    }
    
    footer>a {
        font-size: 13px;
    }

    .button {
        height: 33px;
        border-radius: 3px;
    }
}

@media (min-width: 510px){
    header {
        height: 75px;  
    }

    .logoHorizontal {
        width: 165px;
        height: 35px;
        margin-left: 15px;
    }
    
    nav>i {
        margin-right: 15px;
        font-size: 28px;
    }

    footer {
        height: 270px;
    }
    
    .logoVertical {
        width: 120px;
        height: 57px;
        margin-bottom: 10px;
    }
    
    footer>a {
        font-size: 13px;
    }

    .button {
        height: 35px;
        border-radius: 4px;
    }
}

@media (min-width: 560px){
    header {
        height: 95px;  
    }

    .logoHorizontal {
        width: 215px;
        height: 45px;
        margin-left: 20px;
    }
    
    nav>i {
        margin-right: 20px;
        font-size: 30px;
    }

    footer {
        height: 270px;
    }
    
    .logoVertical {
        width: 135px;
        height: 60px;
        margin-bottom: 10px;
    }
    
    footer>a {
        font-size: 14.5px;
    }

    .button {
        height: 36px;
        border-radius: 4px;
    }
}

@media (min-width: 610px){
    header {
        height: 95px;  
    }

    .logoHorizontal {
        width: 215px;
        height: 45px;
        margin-left: 20px;
    }
    
    nav>i {
        margin-right: 20px;
        font-size: 30px;
    }

    footer {
        height: 290px;
    }
    
    .logoVertical {
        width: 135px;
        height: 65px;
        margin-bottom: 10px;
    }
    
    footer>a {
        font-size: 14.5px;
    }

    .button {
        height: 40px;
        border-radius: 4px;
    }
}

@media (min-width: 700px){
    header {
        height: 100px;  
    }

    .logoHorizontal {
        width: 240px;
        height: 55px;
        margin-left: 25px;
    }
    
    nav>i {
        margin-right: 25px;
        font-size: 35px;
    }

    footer {
        height: 350px;
    }
    
    .logoVertical {
        width: 160px;
        height: 75px;
        margin-bottom: 10px;
    }
    
    footer>a {
        font-size: 17px;
    }

    .button {
        height: 45px;
        border-radius: 5px;
    }
}

@media (min-width: 800px){
    header {
        height: 110px;  
    }

    .logoHorizontal {
        width: 250px;
        height: 60px;
        margin-left: 25px;
    }
    
    nav>i {
        margin-right: 25px;
        font-size: 40px;
    }

    footer {
        height: 380px;
    }
    
    .logoVertical {
        width: 175px;
        height: 80px;
        margin-bottom: 10px;
    }
    
    footer>a {
        font-size: 19px;
    }

    .button {
        height: 50px;
        border-radius: 5px;
    }
}