* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: #202020;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: white;
}

h1 {
    font-weight: 500;
}

.header>.menu-mobile {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #202020;
    z-index: 1;
    position: fixed;
    top: 0;
}

.menu-mobile>.logoHorizontal {
    width: 123px;
    height: 25px;
    margin-left: 10px;
}

.menu-mobile>.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    list-style: none;
}

.menu-mobile>.navBar {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #202020;
}

.menu-mobile>.showMenu {
    transform: translateY(0);
    height: fit-content;
}

.menu-mobile>nav>i {
    font-size: 20px;
}

.menu-mobile>.menuItem {
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.menu-mobile>li {
    height: 40px;
    background-color: #202020;
    border-bottom: 1px solid rgba(132, 132, 132, 1);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.menu-mobile>.hamburguesita,
.cerrar {
    position: fixed;
    z-index: 100;
    height: 50px;
    right: 15px;
    margin-top: -10px;
    cursor: pointer;
}

.menu-mobile>.cerrar {
    display: none;
}

.menu-desktop {
    display: none;
}

.text-shadow {
    text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 1px;
}

.button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(30, 144, 255, 1);
    border-radius: 2px;
    border: 0px;
    height: 21px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Cabin', sans-serif;
}

footer {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    justify-content: space-evenly;
    margin-top: 2px;
    margin-bottom: 15px;
}

footer div {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2px;
    margin-bottom: 15px;
}

.logoVertical {
    width: 75px;
    height: 33px;
    margin-top: 15px;
    margin-bottom: 5px;
}

footer a {
    font-size: 8px;
    color: rgba(136, 136, 136, 1);
    text-decoration: none;
}

@media (min-width: 360px) {

    .header,
    .navBar {
        height: 54px;
    }

    .logoHorizontal {
        width: 135px;
        height: 28px;
        margin-left: 10px;
        margin-top: 5px;
    }

    nav>i {
        font-size: 22px;
    }

    .menuItem {
        margin-left: 10px;
    }

    li {
        height: 42px;
    }

    footer {
        height: 160px;
    }

    .logoVertical {
        width: 90px;
        height: 38px;
        margin-top: 19px;
        margin-bottom: 9px;
    }

    footer a {
        font-size: 9.5px;
    }

    .button {
        height: 22px;
        border-radius: 2px;
    }
}

@media (min-width: 410px) {

    .header,
    .navBar {
        height: 61.5px;
    }

    .logoHorizontal {
        width: 153px;
        height: 31px;
        margin-left: 12px;
        margin-top: 7px;
    }

    nav>i {
        font-size: 25px;
    }

    .menuItem {
        margin-left: 10px;
    }

    .hamburguesita,
    .cerrar {
        margin-top: -11px;
    }

    li {
        height: 45px;
    }

    footer {
        height: 185px;
    }

    .logoVertical {
        width: 97px;
        height: 42px;
        margin-bottom: 10px;
    }

    footer a {
        font-size: 10.2px;
    }

    .button {
        height: 25px;
        border-radius: 3px;
    }
}

@media (min-width: 460px) {

    .header,
    .navBar {
        height: 67px;
    }

    .logoHorizontal {
        width: 172px;
        height: 35px;
        margin-left: 12px;
        margin-top: 8px;
    }

    nav>i {
        font-size: 28px;
    }

    .menuItem {
        margin-left: 10px;
    }

    .hamburguesita,
    .cerrar {
        margin-top: -12px;
    }

    li {
        height: 48px;
    }

    footer {
        height: 205px;
    }

    .logoVertical {
        width: 105px;
        height: 50px;
        margin-bottom: 10px;
    }

    footer a {
        font-size: 11.3px;
    }

    .button {
        height: 27.5px;
        border-radius: 3px;
    }
}

@media (min-width: 510px) {

    .header,
    .navBar {
        height: 75px;
    }

    .logoHorizontal {
        width: 190px;
        height: 37px;
        margin-left: 14px;
        margin-top: 9px;
    }

    nav>i {
        font-size: 33px;
    }

    .menuItem {
        margin-left: 15px;
    }

    li {
        height: 50px;
        font-size: 18px;
    }

    .hamburguesita,
    .cerrar {
        margin-top: -14px;
    }

    footer {
        height: 230px;
    }

    .logoVertical {
        width: 120px;
        height: 50px;
        margin-bottom: 10px;
    }

    footer a {
        font-size: 12.5px;
    }

    .button {
        height: 29px;
        border-radius: 4px;
    }
}

@media (min-width: 560px) {

    .header,
    .navBar {
        height: 83px;
    }

    .logoHorizontal {
        width: 212px;
        height: 41.5px;
        margin-left: 14px;
    }

    nav>i {
        font-size: 33px;
    }

    .menuItem {
        margin-left: 15px;
    }

    li {
        height: 60px;
        font-size: 19px;
    }

    .hamburguesita,
    .cerrar {
        margin-top: -16px;
    }

    footer {
        height: 256px;
    }

    .logoVertical {
        width: 129px;
        height: 55px;
        margin-bottom: 10px;
    }

    footer a {
        font-size: 13.9px;
    }

    .button {
        height: 32px;
        border-radius: 4px;
    }
}

@media (min-width: 610px) {

    .header,
    .navBar {
        height: 90px;
    }

    .logoHorizontal {
        width: 230px;
        height: 46px;
        margin-left: 15px;
    }

    nav>i {
        font-size: 37px;
    }

    footer {
        height: 278px;
    }

    .menuItem {
        margin-left: 15px;
    }

    li {
        height: 60px;
        font-size: 20px;
    }

    .hamburguesita,
    .cerrar {
        margin-top: -18px;
    }

    .logoVertical {
        width: 141px;
        height: 62px;
        margin-bottom: 10px;
    }

    footer a {
        font-size: 15.2px;
    }

    .button {
        height: 36px;
        border-radius: 4px;
    }
}

@media (min-width: 660px) {

    .logoHorizontal {
        width: 253px;
        height: 51px;
        margin-left: 15px;
    }

    nav>i {
        font-size: 39px;
    }

    .menuItem {
        margin-left: 15px;
    }

    li {
        height: 60px;
        font-size: 21px;
    }

    .hamburguesita,
    .cerrar {
        margin-top: -20px;
    }

    footer {
        height: 306px;
    }

    .logoVertical {
        width: 150px;
        height: 65px;
        margin-bottom: 10px;
    }

    footer a {
        font-size: 16.5px;
    }

    .button {
        height: 40px;
        border-radius: 4px;
    }
}

@media (min-width: 800px) {

    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: block;
    }

    footer {
        height: 380px;
    }

    .logoVertical {
        width: 175px;
        height: 80px;
        margin-bottom: 10px;
    }

    footer a {
        font-size: 19px;
    }

    .button {
        height: 50px;
        border-radius: 5px;
    }
}

@media (min-width: 1000px) {

    .header>.menu-mobile {
        display: none;
    }

    .header {
        height: auto;
    }

    .menu-desktop>ul {
        display: flex;
        justify-content: space-evenly ;
        align-items: center;
    }

    .menu-desktop>ul>li>a {
        text-decoration: none;
        font-size: 15px;
        color:rgba(136, 136, 136, 1);
        margin-left: 0;
        margin-right: 45px;
    }
    .menu-desktop>ul>a>.logoHorizontal {
        width: 141px;
        height: 29px;
        margin-left: 0;
        margin-right: 45px;
    }

    .menu-desktop>ul>li {
        background-color: #202020;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    footer {
        height: 350px;
        margin-top: 2px;
        margin-bottom: 20px;

    }

    footer div {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .logoVertical {
        width: 175px;
        height: 80px;
        margin-top: 50px;
    }

    footer a {
        font-size: 17px;
    }

    .button {
        height: 50px;
        border-radius: 5px;
    }
}