.comprar {
    width: 100%;
    height: 200px;
    margin-top: 50px;
    background-image: url("Media/coverMobile.png");
    background-position: center;
    background-size: cover;
    position: relative;

}

.kenburns-top {
    visibility: hidden;
    display: none;

}



.comprar>.capa {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

}

.comprar>.capa>h1 {
    margin-top: 82px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'EB Garamond', serif;
    text-shadow: rgb(12, 180, 255) 0px 2px 3px;
}

.comprar>.capa>h1>.el-precio-del {
    font-size: 9.5px;
    line-height: 12.5px;
}

.comprar>.capa>h1>.infinito {
    font-size: 15px;
    line-height: 19.5px;
}

.comprar>.capa>.button {
    width: 61px;
    margin-right: 6px;
    font-size: 10px;
    margin-top: 40px;
}

.cuentos {
    width: 100%;
    height: 193px;
    background-image: url("Media/granLienzoMobile.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.cuentos>.capa {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    justify-content: space-around;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 1%, rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.529) 100%);
}

.cuentos>.capa>h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: 'EB Garamond', serif;
}

.cuentos>.capa>p {
    font-size: 8px;
}

.cuentos>.capa>.button {
    width: 106px;
    font-size: 9px;
    margin-bottom: 20px;
}

.lienzo {
    width: 100%;
    height: 157px;
    background-image: url("Media/mundoMobile.png");
    background-position: center;
    background-size: cover;
    background-position: -5px -35px;
    position: relative;
}

.lienzo>.capa {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 1%, rgba(209, 209, 209, 0.5) 10%, rgba(196, 196, 196, 0.5) 100%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(32, 32, 32, 1);
    justify-content: space-around;
}

.lienzo>.capa>h2 {
    font-size: 14px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin-top: 20px;
}

.lienzo>.capa>p {
    font-size: 8px;
    text-align: center;
}

.lienzo>.capa>.button {
    width: 116px;
    font-size: 9px;
    margin-bottom: 10px;
}

.autor {
    width: 100%;
    height: 143px;
    background-image: url("Media/jonMobile.png");
    background-position: 0px -5px;
    background-size: cover;
    position: relative;
}

.autor>.capa {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0.529) 100%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(32, 32, 32, 1);
    justify-content: space-around;
}

.autor>.capa>h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    margin-top: 20px;
}

.autor>.capa>p {
    font-size: 7px;
    text-align: center;
    margin-top: 15px;
}

.autor>.capa>.button {
    width: 108px;
    font-size: 9px;
    margin-bottom: 10px;
}

@media (min-width: 360px) {
    .comprar {
        height: 220px;
        margin-top: 54px;
    }

    .comprar>.capa>h1 {
        margin-top: 87px;
    }

    .comprar>.capa>h1>.el-precio-del {
        font-size: 10.5px;
        line-height: 15.5px;
    }

    .comprar>.capa>h1>.infinito {
        font-size: 17px;
    }

    .comprar>.capa>.button {
        width: 70px;
        font-size: 11px;
        margin-top: 48px;
    }

    .cuentos {
        height: 213px;
    }

    .cuentos>.capa>h2 {
        text-shadow: rgba(0, 0, 0, 0.9) 0px 2px 2px;
        font-size: 21px;
        line-height: 23px;
        margin-top: 25px;
    }

    .cuentos>.capa>p {
        font-size: 9px;
    }

    .cuentos>.capa>.button {
        width: 110px;
        font-size: 9px;
        margin-bottom: 22px;
    }

    .lienzo {
        height: 173px;
    }

    .lienzo>.capa>h2 {
        font-size: 16px;
    }

    .lienzo>.capa>p {
        font-size: 9px;
    }

    .lienzo>.capa>.button {
        width: 135px;
        font-size: 10px;
    }

    .autor {
        height: 158px;
    }

    .autor>.capa>h2 {
        font-size: 16px;
    }

    .autor>.capa>p {
        font-size: 8px;
    }

    .autor>.capa>.button {
        width: 125px;
        font-size: 10px;
    }
}

@media (min-width: 410px) {
    .comprar {
        height: 250px;
        margin-top: 61.5px;
    }

    .comprar>.capa>h1 {
        margin-top: 100px;
    }

    .comprar>.capa>h1>.el-precio-del {
        font-size: 12px;
        line-height: 18.5px;
    }

    .comprar>.capa>h1>.infinito {
        font-size: 19px;
    }

    .comprar>.capa>.button {
        margin-right: 14px;
        width: 78px;
        font-size: 12px;
        margin-top: 58px;
    }

    .cuentos {
        height: 241px;
    }

    .cuentos>.capa>h2 {
        font-size: 23.4px;
        margin-top: 27px;
        line-height: 25px;
        text-shadow: rgba(0, 0, 0, 0.9) 0px 2px 2px;
    }

    .cuentos>.capa>p {
        font-size: 10px;
    }

    .cuentos>.capa>.button {
        width: 135px;
        font-size: 11px;
        margin-bottom: 24px;
    }

    .lienzo {
        height: 196px;
    }

    .lienzo>.capa>h2 {
        font-size: 18px;
    }

    .lienzo>.capa>p {
        font-size: 10px;
    }

    .lienzo>.capa>.button {
        width: 145px;
        font-size: 11px;
    }

    .autor {
        height: 179px;
    }

    .autor>.capa>h2 {
        font-size: 18px;
    }

    .autor>.capa>p {
        font-size: 9.2px;
    }

    .autor>.capa>.button {
        width: 135px;
        font-size: 11px;
    }
}

@media (min-width: 460px) {
    .comprar {
        height: 280px;
        margin-top: 67px;
    }

    .comprar>.capa>h1 {
        margin-top: 115px;
    }

    .comprar>.capa>h1>.el-precio-del {
        font-size: 14px;
        line-height: 22px;
    }

    .comprar>.capa>h1>.infinito {
        font-size: 21.5px;
    }

    .comprar>.capa>.button {
        margin-right: 14px;
        width: 86px;
        font-size: 14px;
        margin-top: 63px;
    }

    .cuentos {
        height: 268px;
    }

    .cuentos>.capa>h2 {
        font-size: 26.3px;
        margin-top: 30px;
        line-height: 27px;
        text-shadow: rgba(0, 0, 0, 0.9) 0px 2px 2px;
    }

    .cuentos>.capa>p {
        font-size: 11px;
    }

    .cuentos>.capa>.button {
        width: 148px;
        font-size: 13px;
        margin-bottom: 20px;
    }

    .lienzo {
        height: 218px;
    }

    .lienzo>.capa>h2 {
        font-size: 19.7px;
    }

    .lienzo>.capa>p {
        font-size: 11.2px;
    }

    .lienzo>.capa>.button {
        width: 160px;
        font-size: 12.5px;
    }

    .autor {
        height: 200px;
    }

    .autor>.capa>h2 {
        font-size: 20.1px;
    }

    .autor>.capa>p {
        font-size: 10.5px;
    }

    .autor>.capa>.button {
        width: 150px;
        font-size: 13px;
    }
}

@media (min-width: 510px) {
    .comprar {
        height: 310px;
        margin-top: 75px;
    }

    .comprar>.capa>h1 {
        margin-top: 125px;
    }

    .comprar>.capa>h1>.el-precio-del {
        font-size: 15.5px;
        line-height: 28.5px;
    }

    .comprar>.capa>h1>.infinito {
        font-size: 25px;
    }

    .comprar>.capa>.button {
        width: 98px;
        font-size: 16px;
        margin-top: 70px;
        margin-right: 18px;
    }

    .cuentos {
        height: 297px;
    }

    .cuentos>.capa>h2 {
        text-shadow: rgba(0, 0, 0, 0.9) 0px 2px 2px;
        font-size: 29.3px;
        line-height: 31px;
        margin-top: 33px;
    }

    .cuentos>.capa>p {
        text-shadow: rgba(0, 0, 0, 0.9) 0px 2px 2px;
        font-size: 12.5px;
    }

    .cuentos>.capa>.button {
        width: 170px;
        font-size: 14.5px;
        margin-bottom: 25px;
    }

    .lienzo {
        height: 242px;
    }

    .lienzo>.capa>h2 {
        font-size: 22.2px;
    }

    .lienzo>.capa>p {
        font-size: 12.6px;
    }

    .lienzo>.capa>.button {
        width: 177px;
        font-size: 14px;
    }

    .autor {
        height: 221px;
    }

    .autor>.capa>h2 {
        font-size: 22.3px;
    }

    .autor>.capa>p {
        font-size: 11.5px;
    }

    .autor>.capa>.button {
        width: 165px;
        font-size: 14px;
    }
}

@media (min-width: 560px) {
    .comprar {
        height: 341px;
        margin-top: 83px;
    }

    .comprar>.capa>h1 {
        margin-top: 138px;
    }

    .comprar>.capa>h1>.el-precio-del {
        font-size: 16px;
        line-height: 29px;
    }

    .comprar>.capa>h1>.infinito {
        font-size: 25px;
    }

    .comprar>.capa>.button {
        width: 110px;
        font-size: 17px;
        margin-top: 83px;
        margin-right: 21px;
    }

    .cuentos {
        height: 327px;
    }

    .cuentos>.capa>h2 {
        text-shadow: rgba(0, 0, 0, 1) 0px 3px 3px;
        font-size: 32px;
        margin-top: 34px;
        line-height: 35px;
    }

    .cuentos>.capa>p {
        text-shadow: rgba(0, 0, 0, 0.9) 0px 2px 2px;
        font-size: 13.5px;
    }

    .cuentos>.capa>.button {
        width: 178px;
        font-size: 15.5px;
        margin-bottom: 28px;
    }

    .lienzo {
        height: 266px;
    }

    .lienzo>.capa>h2 {
        font-size: 24.2px;
    }

    .lienzo>.capa>p {
        font-size: 13.7px;
    }

    .lienzo>.capa>.button {
        width: 198px;
        font-size: 15.5px;
    }

    .autor {
        height: 244px;
    }

    .autor>.capa>h2 {
        font-size: 24.6px;
    }

    .autor>.capa>p {
        font-size: 12.3px;
    }

    .autor>.capa>.button {
        width: 185px;
        font-size: 15px;
    }
}

@media (min-width: 610px) {
    .comprar {
        height: 373px;
        margin-top: 90px;
    }

    .comprar>.capa>h1 {
        margin-top: 150px;
    }

    .comprar>.capa>h1>.el-precio-del {
        font-size: 19px;
        line-height: 35px;
    }

    .comprar>.capa>h1>.infinito {
        font-size: 29.5px;
    }

    .comprar>.capa>.button {
        width: 118px;
        font-size: 19px;
        margin-top: 88px;
        margin-right: 22px;
    }

    .cuentos {
        height: 356px;
    }

    .cuentos>.capa>h2 {
        text-shadow: rgb(0, 0, 0) 1px 3px 1px;
        font-size: 35.5px;
        line-height: 38px;
        margin-top: 37px;
    }

    .cuentos>.capa>p {
        text-shadow: rgb(0, 0, 0) 1px 3px 1px;
        font-size: 15px;
    }

    .cuentos>.capa>.button {
        width: 198px;
        font-size: 16.8px;
        margin-bottom: 34px;
    }

    .lienzo {
        height: 292px;
    }

    .lienzo>.capa>h2 {
        font-size: 26.2px;
    }

    .lienzo>.capa>p {
        font-size: 15px;
    }

    .lienzo>.capa>.button {
        width: 215px;
        font-size: 16.8px;
    }

    .autor {
        height: 265px;
    }

    .autor>.capa>h2 {
        font-size: 27px;
    }

    .autor>.capa>p {
        font-size: 13.3px;
    }

    .autor>.capa>.button {
        width: 200px;
        font-size: 16px;
    }
}

@media (min-width: 660px) {
    .comprar {
        height: 406px;
    }

    .comprar>.capa>h1 {
        margin-top: 160px;
    }

    .comprar>.capa>h1>.el-precio-del {
        font-size: 19.5px;
        line-height: 39px;
    }

    .comprar>.capa>h1>.infinito {
        font-size: 30.5px;
    }

    .comprar>.capa>.button {
        width: 125px;
        font-size: 20px;
        margin-top: 100px;
        margin-right: 24px;
    }

    .cuentos {
        height: 388px;
    }

    .cuentos>.capa>h2 {
        text-shadow: rgb(0, 0, 0) 1px 3px 1px;
        font-size: 38px;
        line-height: 41px;
        margin-top: 37px;
    }

    .cuentos>.capa>p {
        text-shadow: rgb(0, 0, 0) 1px 3px 1px;
        font-size: 16px;
    }

    .cuentos>.capa>.button {
        width: 215px;
        font-size: 18px;
        margin-bottom: 30px;
    }

    .lienzo {
        height: 315px;
    }

    .lienzo>.capa>h2 {
        font-size: 28.7px;
    }

    .lienzo>.capa>p {
        font-size: 16.3px;
    }

    .lienzo>.capa>.button {
        width: 233px;
        font-size: 18px;
    }

    .autor {
        height: 288px;
    }

    .autor>.capa>h2 {
        font-size: 29.2px;
    }

    .autor>.capa>p {
        font-size: 14.9px;
    }

    .autor>.capa>.button {
        width: 220px;
        font-size: 18px;
    }
}

@media (min-width: 800px) {
    .comprar {
        height: 490px;
        background-image: url("Media/coverDesktop.png");
    }

    .comprar>.capa>h1 {
        margin-top: 195px;
    }

    .comprar>.capa>h1>.el-precio-del {
        font-size: 22px;
        line-height: 45.5px;
    }

    .comprar>.capa>h1>.infinito {
        font-size: 35.5px;
    }

    .comprar>.capa>.button {
        width: 150px;
        font-size: 23px;
        margin-top: 125px;
        margin-right: 30px;
    }

    .cuentos {
        height: 490px;
    }

    .cuentos>.capa>h2 {
        font-size: 46px;
        margin-top: 45px;
        text-shadow: rgb(0, 0, 0) 1px 3px 1px;

    }

    .cuentos>.capa>p {
        font-size: 20px;
        text-shadow: rgb(0, 0, 0) 1px 3px 1px;
    }

    .cuentos>.capa>.button {
        width: 260px;
        font-size: 22px;
        margin-bottom: 45px;
    }

    .lienzo {
        height: 370px;
    }

    .lienzo>.capa>h2 {
        font-size: 34px;
    }

    .lienzo>.capa>p {
        font-size: 19.5px;
    }

    .lienzo>.capa>.button {
        width: 280px;
        font-size: 22px;
    }

    .autor {
        height: 360px;
    }

    .autor>.capa>h2 {
        font-size: 34px;
    }

    .autor>.capa>p {
        font-size: 17px;
    }

    .autor>.capa>.button {
        width: 260px;
        font-size: 21.5px;
    }

}

@media (min-width: 1000px) {
    .comprar {
        height: 550px;
        margin-top: 0px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        background: rgba(0, 2, 38, 1);
    }

    .kenburns-top {
        visibility: visible;
        width: 1000px;
        height: 100%;
        display: inline;
        -webkit-animation: kenburns-top 5s ease-in reverse forwards;
        animation: kenburns-top 5s ease-in reverse forwards;
    }

    @keyframes kenburns-top {
        0% {
            -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
            -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
        }

        100% {
            -webkit-transform: scale(1.25) translateY(-15px);
            transform: scale(1.25) translateY(-15px);
            -webkit-transform-origin: top;
            transform-origin: top;
        }
    }

    .comprar>.capa>h1>.el-precio-del {
        font-size: 22px;
        line-height: 45.5px;
    }

    .comprar>.capa>h1>.infinito {
        font-size: 35.5px;
    }

    .comprar>.capa>.button {
        width: 150px;
        font-size: 23px;
        margin-top: 125px;
        margin-right: 30px;
    }

    .cuentos {
        height: 490px;
    }

    .cuentos>.capa>h2 {
        font-size: 46px;
        margin-top: 45px;
        text-shadow: rgb(0, 0, 0) 1px 3px 1px;

    }

    .cuentos>.capa>p {
        font-size: 20px;
        text-shadow: rgb(0, 0, 0) 1px 3px 1px;
    }

    .cuentos>.capa>.button {
        width: 260px;
        font-size: 22px;
        margin-bottom: 45px;
    }

    .lienzo {
        height: 370px;
    }

    .lienzo>.capa>h2 {
        font-size: 34px;
    }

    .lienzo>.capa>p {
        font-size: 19.5px;
    }

    .lienzo>.capa>.button {
        width: 280px;
        font-size: 22px;
    }

    .autor {
        height: 360px;
    }

    .autor>.capa>h2 {
        font-size: 34px;
    }

    .autor>.capa>p {
        font-size: 17px;
    }

    .autor>.capa>.button {
        width: 260px;
        font-size: 21.5px;
    }

}