.entra {
    width: 100%;
    height: 200px;
    margin-top: 50px;
    background-image: url("Media/mundoMobile.png");
    background-position: center;
    background-size: cover;
    background-position: 5px 0px;
    position: relative;
}

.entra>.capa {
    width: 100%;
    height: 100%;
    background-color: rgba(205, 206, 206, 0.582);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(32, 32, 32, 1);
    justify-content: space-evenly;
}

.entra>.capa>h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.entra>.capa>p {
    font-size: 8px;
    text-align: center;
    line-height: 9.72px;
    margin-bottom: 25px;
    font-weight: bold;
}

.entregado {
    width: 100%;
    height: 207px;
    background-image: url("Media/fondoResumenCuentos.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.entregado>.capa {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000008 1%, rgba(0, 2, 38, 0.597) 8%, rgb(0, 2, 38) 100%);
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.entregado>.capa>p {
    width: 175px;
    font-size: 7px;
    line-height: 8.51px;
}

.serie {
    width: 100%;
    height: 400px;
    background-color: rgba(0, 2, 38, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.serie>h2,h3 {
    font-family: 'EB Garamond', serif;
    font-size: 14px;
}

.serie>p {
    width: 184px;
    height: 108px;
    font-size: 7px;
}

.slider {
    width: 100%;
    max-width: 800px;
    height: 140px;
    position: relative;
    margin-bottom: 20px;
}

.slide {
    width: 100%;
    max-width: 800px;
    height: 100%;
    position: absolute;
    transition: all 0.5s;

}

.slide img {
    width: 200px;
    margin: 0 auto;
    display: block;
}

.slide p {
    font-size: 7px;
    text-align: center;
    margin: 3px;
}


.btn {
    position: absolute;
    cursor: pointer;
    font-size: 15px;
}

.btn:active {
    transform: scale(1.1);
}

.btn-prev {
    top: 45%;
    left: 15px;
}

.btn-next {
    top: 45%;
    right: 15px;
}

.proyectos {
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.786) 1%, rgba(74, 81, 217, 1) 4%, rgba(74, 81, 217, 1) 100%);
    position: relative;
}

.proyectos>.capa {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.786) 1%, rgba(74, 81, 217, 1) 4%, rgba(74, 81, 217, 0) 100%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.primerTexto-capa {
    height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.proyectos>.capa>.primerTexto-capa h3 {
    font-family: 'EB Garamond', serif;
    font-size: 15px;
    margin-top: 10px;
}

.proyectos>.capa>.primerTexto-capa>p {
    font-size: 8px;
    margin-top: 10px;
}

.proyectos>.capa>.fechas {
    width: 254px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.proyectos>.capa>.fechas>h2 {
    font-size: 8px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 400;
}

.proyectos>.capa>p {
    font-size: 7px;
    font-style: italic;
}

.cinco {
    background-color: rgba(160, 192, 239, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cinco>.contienecolapso {
    background-color: rgba(30, 144, 255, 1);
    width: 100%;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-colapsable.desplegar {
    max-height: 100px;
    margin-top: 5px;
}

.boton-cerrar-desplegable {
    display: none;
}

.contenido-colapsable {
    max-height: 0px;
    overflow: hidden;
    transition: 0.3s;
}

.cinco i {
    font-size: 11px;
    margin-right: 5px;
}

.fa-sort-down {
    margin-bottom: 3px;
}

.fa-sort-up {
    margin-top: 7px;
}

.cinco p {
    width: 240px;
    height: 30px;
    font-weight: bolder;
    font-size: 7px;
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.cinco h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 11px;
}

.ayudar-proyecto {
    width: 100%;
    height: 134px;
    background-image: url("Media/mundoMobile.png");
    background-position: center;
    background-size: cover;
    background-position: 10px -20px;
    position: relative;
}

.ayudar-proyecto>.capa {
    width: 100%;
    height: 100%;
    background-color: rgba(205, 206, 206, 0.582);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(32, 32, 32, 1);
    justify-content: space-evenly;
}

.ayudar-proyecto>.capa>h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    margin-top: 15px;
}

.ayudar-proyecto>.capa>p {
    font-size: 7px;
    line-height: 8.5px;
    text-align: center;
    font-weight: bolder;
}

.ayudar-proyecto>.capa>.button {
    width: 83px;
    height: 15px;
    font-size: 7px;
}

@media (min-width: 360px) {

    .entra {
        height: 225px;
        margin-top: 54px;
    }

    .entra>.capa>h1 {
        font-size: 22px;
        margin-top: 15px;
    }

    .entra>.capa>p {
        font-size: 9px;
        text-align: center;
        line-height: 9.72px;
        margin-bottom: 30px;
    }

    .entregado {
        height: 230px;
    }

    .entregado>.capa>p {
        width: 207px;
        font-size: 8.1px;
        line-height: 10px;
    }

    .serie {
        width: 100%;
        height: 398px;
    }

    .serie>h3 {
        font-size: 17px;
        margin-top: 10px;
    }

    .serie>p {
        width: 207px;
        font-size: 8.1px;
        line-height: 10px;
    }

    .flores {
        width: 100%;
    }

    .flores>img {
        width: 184px;
        height: 127px;
    }

    .proyectos {
        width: 100%;
        height: 440px;
    }

    .primerTexto-capa {
        height: 50px;
    }

    .proyectos>.capa>.primerTexto-capa h3 {
        font-size: 17px;
        margin-top: 10px
    }

    .proyectos>.capa>.primerTexto-capa p {
        font-size: 10px;
    }

    .proyectos>.capa>.fechas {
        width: 284px;
    }

    .proyectos>.capa>.fechas>h2 {
        font-size: 9px;
        margin-bottom: 10px;
    }

    .cinco>.contienecolapso {
        height: 15px;
    }

    .contenido-colapsable.desplegar {
        max-height: 100px;
        margin-top: 10px;
    }

    .cinco i {
        font-size: 12px;
        margin-right: 5px;
    }

    .fa-sort-down {
        margin-bottom: 4px;
    }

    .fa-sort-up {
        margin-top: 6px;
    }

    .cinco p {
        width: 240px;
        height: 30px;
        font-size: 7.8px;
    }

    .cinco h3 {
        font-size: 7px;
        margin-left: 11px;
    }

    .ayudar-proyecto {
        height: 145px;
    }

    .ayudar-proyecto>.capa>h2 {
        font-size: 9px;
        line-height: 10px;
        margin-top: 15px;
    }

    .ayudar-proyecto>.capa>p {
        font-size: 8px;
        line-height: 8.5px;
    }

    .ayudar-proyecto>.capa>.button {
        width: 87px;
        font-size: 7.5px;
    }
}

@media (min-width: 410px) {

    .entra {
        height: 265px;
        margin-top: 54px;
    }

    .entra>.capa>h1 {
        font-size: 24px;
        margin-top: 30px;
    }

    .entra>.capa>p {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 30px;
    }

    .entregado {
        height: 250px;
    }

    .entregado>.capa>p {
        width: 217px;
        font-size: 8.1px;
        line-height: 10px;
    }

    .serie {
        width: 100%;
        height: 398px;
    }

    .serie>h3 {
        font-size: 17px;
        margin-top: 10px;
    }

    .serie>p {
        width: 207px;
        font-size: 8.1px;
        line-height: 10px;
    }

    .flores {
        width: 100%;
    }

    .flores>img {
        width: 184px;
        height: 127px;
    }

    .proyectos {
        width: 100%;
        height: 440px;
    }

    .primerTexto-capa {
        height: 50px;
    }

    .proyectos>.capa>.primerTexto-capa h3 {
        font-size: 17px;
        margin-top: 10px
    }

    .proyectos>.capa>.primerTexto-capa p {
        font-size: 10px;
    }

    .proyectos>.capa>.fechas {
        width: 284px;
    }

    .proyectos>.capa>.fechas>h2 {
        font-size: 9px;
        margin-bottom: 10px;
    }

    .cinco>.contienecolapso {
        height: 15px;
    }

    .contenido-colapsable.desplegar {
        max-height: 100px;
        margin-top: 10px;
    }

    .cinco i {
        font-size: 12px;
        margin-right: 5px;
    }

    .fa-sort-down {
        margin-bottom: 4px;
    }

    .fa-sort-up {
        margin-top: 6px;
    }

    .cinco p {
        width: 240px;
        height: 30px;
        font-size: 7.8px;
    }

    .cinco h3 {
        font-size: 7px;
        margin-left: 11px;
    }

    .ayudar-proyecto {
        height: 145px;
    }

    .ayudar-proyecto>.capa>h2 {
        font-size: 9px;
        line-height: 10px;
        margin-top: 15px;
    }

    .ayudar-proyecto>.capa>p {
        font-size: 8px;
        line-height: 8.5px;
    }

    .ayudar-proyecto>.capa>.button {
        width: 87px;
        font-size: 7.5px;
    }
}