.entra {
    width: 100%;
    height: 200px;
    background-image: url("/public/Media/mundoMobile.png");
    background-position: center;
    background-size: cover;
    background-position: 8px 0px;
    position: relative;
}

.entra>.capa {
    width: 100%;
    height: 200px;
    background-color: rgba(205, 206, 206, 0.582);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(32, 32, 32, 1);
    justify-content: center;
}

.entra>.capa>h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

.entra>.capa>p {
    font-size: 8px;
    text-align: center;
    line-height: 9.72px;
}

.entregado {
    width: 100%;
    height: 207px;
    background-image: url("/public/Media/fondoResumenCuentos.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.entregado>.capa {
    width: 100%;
    height: 207px;
    background: linear-gradient(180deg, #000008 1%, rgba(0, 2, 38, 0.597) 8%, rgb(0, 2, 38) 100%);
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.entregado>.capa>p {
    width: 175px;
    font-size: 7px;
    line-height: 8.51px;
}

.serie {
    width: 100%;
    height: 378px;
    background-color: rgba(0, 2, 38, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.serie>h3 {
    font-family: 'EB Garamond', serif;
    font-size: 14px;
    margin-top: 30px;

}

.serie>p {
    width: 184px;
    height: 108px;
    font-size: 7px;
}

.serie>.flores>img {
    width: 184px;
    height: 127px;

}

.proyectos {
    width: 100%;
    height: 361px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.786) 1%, rgba(74, 81, 217, 1) 6%, rgba(74, 81, 217, 1) 100%);
    position: relative;
}

.proyectos>.capa {
    width: 100%;
    height: 361px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.786) 1%, rgba(74, 81, 217, 1) 6%, rgba(74, 81, 217, 0) 100%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.proyectos>.capa>h3 {
    font-family: 'EB Garamond', serif;
    font-size: 14px;
}

.proyectos>.capa>p {
    font-size: 8px;
}

.proyectos>.capa>.fechas {
    width: 254px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.proyectos>.capa>.fechas>h2 {
    font-size: 8px;
    text-align: center;
    margin: 5px auto;
    font-weight: 400;
}

.proyectos>.capa>.fechas>.cinco {
    height: 58px;
    background-color: rgba(160, 192, 239, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyectos>.capa>.fechas h3 {
    width: 100%;
    height: 13px;
    font-family: 'Montserrat', sans-serif;
    font-size: 6px;
    background-color: rgba(30, 144, 255, 1);
    text-align: center;
}

.proyectos>.capa>.fechas p {
    width: 238px;
    height: 33;
    font-family: 'Montserrat', sans-serif;
    font-size: 6px;
    color: rgba(0, 0, 0, 1);
    font-weight: bolder;
}

.ayudar-proyecto {
    width: 100%;
    height: 134px;
    background-image: url("/public/Media/mundoMobile.png");
    background-position: center;
    background-size: cover;
    background-position: 10px -20px;
    position: relative;
}

.ayudar-proyecto>.capa {
    width: 100%;
    height: 134px;
    background-color: rgba(205, 206, 206, 0.582);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(32, 32, 32, 1);
    justify-content: space-evenly;
}

.ayudar-proyecto>.capa>h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 8px;
    line-height: 10px;
    text-align: center;
    margin-top: 15px;
}

.ayudar-proyecto>.capa>p {
    font-size: 7px;
    line-height: 8.5px;
    text-align: center;
    font-weight: bolder;
}

.ayudar-proyecto>.capa>a>button {
    width: 83px;
    height: 15px;
    font-size: 7px;
}