.ayuda {
    margin-top: 50px;
    background-color: rgba(0, 2, 38, 1);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 138px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    justify-content: space-around;
}

.ayuda>h1 {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    margin-top: 20px;
}

.ayuda>p {
    font-size: 6px;
    text-align: center;
    font-weight: 600;
}

.botones {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

}

.botones>.button {
    width: 61px;
    font-size: 8px;
    margin: 20px;
    margin-top: 10px;
}

.p-bancar {
    background-color: rgb(0, 2, 38);
    border: 1px solid #1E90FF;
    color: #1e8fff;
}

.pago {
    height: 210px;
    background-color: white;
}

@media (min-width: 360px) {
    .ayuda {
        height: 151px;
    }

    .ayuda>h1 {
        font-size: 21.4px;
        line-height: 43px;
        margin-top: 20px;
    }
    .ayuda>p {
        font-size: 7px;
    }

    .botones>.button {
        width: 65px;
        font-size: 8.5px;
        margin: 10px;
        margin-bottom: 20px;
    }

    .pago {
        height: 229px;
    }
}

@media (min-width: 410px) {
    .ayuda {
        height: 174px;
    }

    .ayuda>h1 {
        font-size: 24.3px;
        line-height: 46px;
        margin-top: 28px;
    }

    .ayuda>p {
        font-size: 7.8px;
    }

    .botones>.button {
        width: 75px;
        font-size: 9.5px;
        margin: 10px;
        margin-bottom: 25px;
    }

    .pago {
        height: 262px;
    }
}

@media (min-width: 460px) {
    .ayuda {
        height: 195px;
    }

    .ayuda>h1 {
        font-size: 27px;
        margin-top: 35px;
        line-height: 51px;
    }

    .ayuda>p {
        font-size: 9px;
    }

    .botones>.button {
        width: 83px;
        font-size: 11px;
        margin: 15px;
        margin-bottom: 30px;
    }

    .pago {
        height: 296px;
    }
}

@media (min-width: 510px) {

    .ayuda {
        height: 216px;
    }

    .ayuda>h1 {
        font-size: 30.2px;
        margin-top: 30px;
        line-height: 60px;
    }

    .ayuda>p {
        font-size: 9.8px;
    }

    .botones>.button {
        width: 95px;
        font-size: 12px;
        margin: 20px;
        margin-bottom: 30px;
    }

    .pago {
        height: 328px;
    }
}

@media (min-width: 560px) {

    .ayuda {
        height: 238px;
    }

    .ayuda>h1 {
        font-size: 33.4px;
        margin-top: 28px;
        line-height: 60px;
    }

    .ayuda>p {
        font-size: 11px;
    }

    .botones>.button {
        width: 105px;
        font-size: 14px;
        margin: 20px;
        margin-bottom: 33px;
    }

    .pago {
        height: 362px;
    }
}

@media (min-width: 610px) {

    .ayuda {
        height: 258px;
    }

    .ayuda>h1 {
        font-size: 36.2px;
        margin-top: 44px;
        line-height: 64px;
    }

    .ayuda>p {
        font-size: 11.7px;
    }

    .botones>.button {
        width: 115px;
        font-size: 16px;
        margin: 20px;
        margin-bottom: 37px;
    }
    
    .pago {
        height: 396px;
    }
}

@media (min-width: 660px) {

   
    .ayuda {
        height: 281px;
    }

    .ayuda>h1 {
        font-size: 39.3px;
        margin-top: 44px;
        line-height: 64px;
    }

    .ayuda>p {
        font-size: 12.9px;
    }

    .botones>.button {
        width: 125px;
        font-size: 17px;
        margin: 20px;
        margin-bottom: 37px;
    }
    
    .pago {
        height: 428px;
    }
}